// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

body{
	background-color: #f1c40f;
	-webkit-animation: color 1s ease-in  0s infinite alternate running;
	-moz-animation: color 1s linear  0s infinite alternate running;
	animation: color 1s linear  0s infinite alternate running;
}



/* Animasi + Prefix untuk browser */
@-webkit-keyframes color {
    0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@-moz-keyframes color {
     0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@keyframes color {
   	0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}

.bespoke-slide{
    background: url(/images/1.jpg) center;
    background-size: cover;
    
}

.title{
	width: 500px;
	height: 170px;
	line-height: 170px;
	background: url(/images/puzzle3.png) no-repeat center;
	background-size: 170px;
	margin: -100px auto;
	font-family: 'squares';
	font-size:  50px;
	color: blue;
	text-shadow: 0px -1px 0px white,
				 0px -2px 0px white,
				 0px -3px 0px white,
				 0px -4px 0px white,
				 0px -5px 0px white,
				 0px -5px 5px black,
				 0px -7px 7px black;

}




.start2, .ins{
	width: 125px;
	height: 45px;
	line-height: 45px;
	background: #00ff18;
	border-radius: 30px;
	box-shadow: 0px 0px 20px 7px black inset;
	font-weight: bold;
	font-family: 'arial';

}

.start2 a, .ins a{
	color: white;
}

.start2{
	margin: 0 auto;
	margin-top: 130px;
}

.start2:hover, .ins:hover{
	background: cyan;
	transition:  0.3s all;
}

.start2:active, .ins:active{
	background: red;
}

.icon{
	width: 45px;
	height: auto;
	float:  left;
	margin-top: 100px;
	margin-left: 30px;
	cursor: pointer;
	cursor: hand;
}

.ins{
	margin: 0 auto;
	margin-top: 20px;
	font-size: 20px;

}

h2{
	font-family: origicide;
	color: blue;
}

li{
	color:  red;
	font-weight: bold;
	font-family: calibri;
	font-size: 25px;
}