// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

body{
	background: #0997f3;
}


/*
 Animasi + Prefix untuk browser 
@-webkit-keyframes color {
    0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@-moz-keyframes color {
     0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
@keyframes color {
   	0% { background-color: #f1c40f; }
    32% { background-color: #e74c3c; }
    55% { background-color: #9b59b6; }
    76% { background-color: #16a085; }
    100% { background-color: #2ecc71; }
}
*/
.bespoke-slide{
    background: url(/images/wall.jpg) 100% 100%;
    background-size: cover;
}


.wrapper{
}
.title{
    height : 0 auto;margin: 40px auto;
	font-family: 'squares';
	font-size:  60px;
	color: #f1c40f;
	-webkit-animation: color 0.3s ease-in  0s infinite alternate running;
	-moz-animation: color 0.3s linear  0s infinite alternate running;
	animation: color 0.3s linear  0s infinite alternate running;;
	
	text-shadow: 0px -1px 0px white,
				 0px -2px 0px white,
				 0px -3px 0px white,
				 0px -4px 0px white,
				 0px -5px 0px white,
				 0px -5px 5px black,
				 0px -7px 7px black;

}

@-webkit-keyframes color {
    0% { color: #f1c40f; }
    32% { color: #e74c3c; }
    55% { color: #9b59b6; }
    76% { color: #16a085; }
    100% { color: #2ecc71; }
}
@-moz-keyframes color {
     0% { color: #f1c40f; }
    32% { color: #e74c3c; }
    55% { color: #9b59b6; }
    76% { color: #16a085; }
    100% { color: #2ecc71; }
}
@keyframes color {
   	0% { color: #f1c40f; }
    32% { color: #e74c3c; }
    55% { color: #9b59b6; }
    76% { color: #16a085; }
    100% { color: #2ecc71; }
}


.start2, .start3, .ins{
	width: 130px;
	height: 45px;
	line-height: 45px;
	background: #0997f3;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 7px black inset;
	font-weight: bold;
	font-family: 'cambria';

}

.start2 a, .start3 a, .ins a{
	color: white;
}

.start2{
	margin: 0 auto;
	margin-top: 50px;
}

.start3{
	margin: 0 auto;
	margin-top: 30px;
}

.start2:hover, .ins:hover{
	background: cyan;
	transition:  0.3s all;
}
.start3:hover, .ins:hover{
	background: cyan;
	transition:  0.3s all;
}
.icon{
	width: 45px;
	height: auto;
	float:  left;
	margin-top: 100px;
	margin-left: 30px;
	cursor: pointer;
	cursor: hand;
}

.ins{
	margin: 0 auto;
	margin-top: 20px;
	font-size: 20px;

}

h2{
    
	font-family: origicide;
	color: red;
    text-shadow: 0px -1px 0px white,
				 0px -2px 0px white,
				 0px -3px 0px white,
				 0px -4px 0px white,
				 0px -5px 0px white,
				 0px -5px 5px black,
				 0px -7px 7px black;

}

li{
	color:  white;
	font-weight: bold;
	font-family: Maiandra GD;
	font-size: 25px;
    
    margin-top:20px;
}



/*==========================Game==========================================*/
#rd1, #rd2, #rd3{
	font-size: 10px;
}


#btnshow{
	font-size: 10px;
	padding: 5px;
	margin-bottom: 10px;
}




/*===================================game===================================*/

/*///////////////////////////////////////////////////////////////////////////////////////*/

canvas {
  border: 2px solid red;
}
