doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title project tkppl
    link(rel='stylesheet', type='text/css', href='build/build.css')
    script(src='build/build.js')
  body
    article
      section
        .wrapper
          .title Puzzle Game
          .start2
            a(href='image_puzzle.html') Start
          // img.icon(src="/images/vol.png" title="Mute" onclick="copy()")//
          .ins
            a(href='#2') Instruction
      section
        h2 Instruction
        ul
            li Start The Game, Click the Start Button
            li Click the Scramble button to shuffle the pictures.
            li If you want to change other picture, Click new Images.
      section
        h2 Instruction
        ul
            li For Finishing the puzzle  
            li click the one of part pictures to move.
            li Arrange the picture until it <br> becomes the whole picture, after that
            li you can get your score.
            .start3
                a(href='index.html') Menu
        section
        
    script(src='build/build.js')
