doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title project tkppl
    link(rel='stylesheet', type='text/css', href='build/build.css')
    script(src='build/build.js')
    script(src='../scripts/game.js')
    script(src='../scripts/puzzle.js')

  body(onload='InitGame();')
    article
      section
        .wrapper
          .title Snake Game
          .start2
            a(href='#4') Start
          // img.icon(src="/images/vol.png" title="Mute" onclick="copy()")//
          .ins
            a(href='#2') Instruction
      section
        h2 Instruction
        ul
            li Start The Game, Click the Start Button
            li press the "I" button on keyboard to move the snake up,
            li the "J" button to move left
            li the "K" button to move Right and
            li the "M" button to move Down
      section
        h2 Instruction
        ul
            li Don't let the snake bump the wall
            li or the game will over
            li make the best score that you can
            .start3
                a(href='#1') Menu

      section            
        h2 Simple Snake Game
        canvas#stage(height='300', width='420')


        
    script(src='build/build.js')

