doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title project tkppl
    link(rel='stylesheet', type='text/css', href='build/build.css')
    script(src='build/build.js')
<<<<<<< HEAD
    script(src='../scripts/game.js')
    script(src='../scripts/puzzle.js')

  body(onload='InitGame();')
    article
      section
        .wrapper
          .title Snake Game
          .start2
            a(href='#4') Start
=======
  body
    article
      section
        .wrapper
          .title Puzzle Game
          .start2
            a(href='image_puzzle.html') Start
>>>>>>> a0d6a2aa46b7c81cfcbe6294eaf2e3f3ce4e9649
          // img.icon(src="/images/vol.png" title="Mute" onclick="copy()")//
          .ins
            a(href='#2') Instruction
      section
        h2 Instruction
        ul
            li Start The Game, Click the Start Button
<<<<<<< HEAD
            li press the "I" button on keyboard to move the snake up,
            li the "J" button to move left
            li the "K" button to move Right and
            li the "M" button to move Down
      section
        h2 Instruction
        ul
            li Don't let the snake bump the wall
            li or the game will over
            li make the best score that you can
            .start3
                a(href='#1') Menu

      section            
        h2 Simple Snake Game
        canvas#stage(height='300', width='420')


        
    script(src='build/build.js')

=======
            li Click the Scramble button to shuffle the pictures.
            li If you want to change other picture, Click new Images.
      section
        h2 Instruction
        ul
            li For Finishing the puzzle  
            li click the one of part pictures to move.
            li Arrange the picture until it <br> becomes the whole picture, after that
            li you can get your score.
            .start3
                a(href='index.html') Menu
        section
        
    script(src='build/build.js')
>>>>>>> a0d6a2aa46b7c81cfcbe6294eaf2e3f3ce4e9649
